.complete {
  border-color: transparent;
  display: flex;
  flex-direction: column;
  border-bottom: 1rem solid $col_grayline;
  margin-bottom: 10rem;

  /* ----------SECTION LEGEND--------*/

  &__legend {
    display: flex;
    flex-direction: row;
    padding-bottom: 20rem;
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }

  &__keyboard {
    font-size: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $col_dull_orange;
    margin-right: 10rem;
  }

  &__title {
    font-family: $font_open;
    font-weight: $font_w_semibold;
    font-size: 18rem;
    color: $col_gunmetal;
    text-transform: uppercase;
    width: 100%;
  }

  &__up {
    font-size: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $col_gunmetal;
  }

  /*---------------SECTION INPUTS------------*/

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-family: $font_open;
    font-size: 14rem;
    font-weight: bold; /*En zeplin es normal, pero creo que se lee mejor con bold, si os aprece bien?*/
    color: $col_dark_green_blue;
    margin-bottom: 10rem;
  }

  &__input {
    border: 1rem solid $col_hospital_green;
    padding: 8rem;
    margin-bottom: 20rem;
    height: 30rem;
    font-family: $font_open;
    font-size: 14rem;
  }

  /*---PARTE AÑADIR IMAGEN---*/

  &__photo {
    display: flex;
    flex-direction: row;

    &__label {
      width: 140rem;
      height: 30rem;
      padding: 5rem 22rem;
      margin: 0 20rem 20rem 0;
      background-color: $col_dull_orange;
      color: $col_white;
      font-family: $font_open;
      font-size: 14rem;
      border-radius: 3rem;
    }
  }
}

.div__complete {
  display: flex;
  flex-direction: column;
}
.error__message {
  font-family: $font_open;
  font-size: 12rem;
  font-weight: bold;
  color: $col_rusty_red;
  margin-bottom: 20rem;
}

.wrong {
  border: 1rem solid $col_rusty_red;
}

.right {
  border: 1rem solid #a2deaf;
}
