// FONTS
$font_montserrat: 'Montserrat', sans-serif;
$font_open: 'Open Sans', sans-serif;
$font_merriweather: 'Merriweather', serif;
$font_w_regular: 400;
$font_w_semibold: 600;
$font_w_black: 900;

// COLORS
$col_azure: #00a0f5;
$col_black: #000;
$col_white: #fff;
$col_white_four: #f5f5f5;
$col_white_five: #d5d5d5;
$col_brownish_grey: rgba(107, 107, 107, 1);
$col_brownish_grey_03: rgba(107, 107, 107, 0.3);
$col_brownish_grey_05: rgba(107, 107, 107, 0.5);
$col_dark_green_blue: #114e4e;
$col_dirty_blue: #438792;
$col_hospital_green: #a2deaf;
$col_light_khaki: #f9f4dc;
$col_dull_orange: #e17334;
$col_dull_orange_02: rgba(225, 115, 52, 0.2);
$col_gunmetal: #54585a;
$col_grayline: #d8d8d8;

//COLORS OPTIONS
$col_dried_blood: #420101;
$col_rusty_red: #bd1010;
$col_tomato: #e95626;
$col_slate: #3e5b65;
$col_faded_orange: #eab052;
$col_light_grey_blue: #a0c0cf;

// SIZES
$break_point_tablet: 768px;
$break_point_desktop: 1200px;
